.jumbotron {
  height: 400px;
  background-image:url("img/portada2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
  text-align: center;
   }



  /*Letras de jumbotron*/
  #D {
    color:red;
  }
  #i1 {
    color:yellow;
  }
  #v {
    color:palevioletred;
  }
  #e {
    color:orange;
  }
  #r {
    color:purple;
  }
  #t {
    color: green;
  }
  #i2 {
    color: blue;
  }
  #p {
    color: red;
  }
  #l{
    color: blue;
  }
  #a {
    color: green;
  }
  #y {
    color: purple;
  }

  /*Testimonios*/

